* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    font-size: 13px;
    color: rgb(85, 119, 97);
    margin: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    margin: 10px;
    padding: 10px;
}
.logoimagen {
    text-align: center;
    background-color: rgb(206, 155, 156);
}

.img {
    width: 25%;
    

}

.fa-pagelines {
  color: rgb(85, 119, 97);
  width: 10px;
  height: 10px;
  padding-bottom: 5px;
  align-items: center;
}

a {
    font-size: 30px;
    color: rgb(60, 65, 61);
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}
main {
    display: flexbox;
    margin: 10px;
    padding: 10px;
}

footer {
      
    font-size: 21px;
    text-align: center;
    background-color: rgb(236, 221, 231);
    color: rgb(60, 65, 61);
    margin: 10px;
    padding: 10px;
}

.fa-brands {
    padding-right: 5px;
}

.menufooter {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
} 
h1{
    font-size: 45px;
    text-align: center;
    color: rgb(60, 65, 61);
    background-color:rgb(241, 198, 225);
}

p {
    font-size: 28px;
    text-align: justify;
    color: rgb(60, 65, 61);
    margin: 10px;
}

/*nosotros*/
.dccion{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.datosperso{

 text-align: right;

}
.imgfer{
  width: 85%;
  align-items: last baseline;
  height: 150%;
  
  padding: 0.5rem;
}


/* Tratamientos*/

.lista{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  box-sizing: border-box;
  width: 80%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.tarjeta {
  width: 65%;
  font-size: medium;
  font-weight: bolder;
  text-align: center;
}

.cuerpo {
  padding: 0.5rem;
  /*margin-bottom: 1rem;*/
  text-align: center;
  /*background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);*/
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  /*box-shadow: 0.4rem 0.4rem #d6d6d6;*/
  width: 90%;  
}

.pie {
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  /*background-image: linear-gradient(to bottom right, #d8d8d8, #f2f2f2);*/
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem #d6d6d6;
  width: 90%;    
}

  
  

/* Instalaciones*/

.instal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    padding: 5px;
    width: 100%;
    align-content:flex-end;
    align-items: center;
    background-color: rgb(238, 232, 237);
    
}
    


#contacto {
    font-size: 25px;
    margin-left: 85%;
}
.navegador {
    background-color:rgb(241, 198, 225); 
    display: none;
}
/*ul {
    font-size: 39px;
    text-align: center;
    color: rgb(60, 65, 61);   
}
li {
    font-size: 28px;
    text-align: center;
    color: rgb(60, 65, 61);
}*/

@media (max-width:320px){
    .dccion{ 
        display: list-item; 
      }
      
      .datosperso{
       text-align: right;
       font-size: 5px;
      
      }
     .lista {
        display: table-footer-group;
     }
     .instal{
        display: list-item;
     }
}
@media (max-width:768px){
    .dccion{ 
        display: list-item; 
      }
      
      .datosperso{
       text-align: right;
       font-size: 5px;
      
      }
     .lista {
        display: list-item;
     }
     .instal{
        display: list-item;
     }
}
