* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.nav {
    background-color: rgb(245, 241, 244);
    margin: 10px;
    padding: 8px;
}


body {
    margin: 10px;
    padding: 10px;
}
header{
    margin: 10px;
    padding: 10px;
}
.logoimagen {
    text-align: center;
    background-color: rgb(206, 155, 156);
}

.img {
    width: 25%;
    

}

.fa-pagelines {
  color: rgb(85, 119, 97);
  width: 10px;
  height: 10px;
  padding-bottom: 15px;
  align-items: center;
}

a {
    font-size: 30px;
    color: rgb(31, 32, 32);
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
}
main {
    display: flexbox;
    margin: 10px;
    padding: 10px;
}

footer {
      
    font-size: 21px;
    text-align: center;
    background-color: rgb(236, 221, 231);
    color: rgb(60, 65, 61);
    margin: 10px;
    padding: 10px;
}

.fa-brands {
    padding-right: 5px;
    
}
li {
    list-style: none;
}
.menufooter {
    padding: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    font-size: 19px;
} 
h1{
    font-size: 45px;
    text-align: center;
    color: rgb(60, 65, 61);
    background-color:rgb(241, 198, 225);
}

p {
    font-size: 28px;
    text-align: justify;
    color: rgb(60, 65, 61);
    margin: 10px;
}

/*nosotros*/
.contenedoresIndex {
    display: grid;
    grid-template-columns: 40fr 40fr;
    grid-template-rows: 40fr 40fr;
    margin: 10px;
    padding: 10px ;
    
    }

.contenedor {
    margin: 10px;
    padding: 10px ;
    border: 2px solid rgb(136, 180, 152);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: rgb(248, 238, 247);
    text-align: center;
    font-size: 20px;
    height: 250px;
    align-items: center;
}
#fotofer {
    height: 75%;
    width: 40%;
}
#nos {
    font-size: 25px;
}

/* Tratamientos*/
.mainIndex {
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-items: center;
}
.enlace {
    color: rgb(14, 3, 11);
    font-size: 30px;
    margin-top: 30px;
    padding-top: 10px;
}

.bloque1 {
    font-size: 15px;
    height: 70%;
    width: 30%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/limpieza2.jpg");
    background-size: cover;
}

.bloque2 {
    font-size: 15px;
    height: 70%;
    width: 30%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/blanqueamiento2.jpg");
    background-size: cover;
}

.bloque3 {
    font-size: 15px;
    height: 70%;
    width: 30%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/bruxismo2.jpg");
    background-size: cover;
}

.bloque4 {
    font-size: 15px;
    height: 70%;
    width: 30%;
    margin: 10px;
    padding: 80px;
    text-align: center;
    background-image: url("../img/ortodoncia2.jpg");
    background-size: cover;
}
.bloque {
    height: 50%;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

p {
    color: rgb(85, 119, 97);
    text-align: justify;
    font-size: 14px;
    padding: 5px;
    margin: 8px
}
  

/* Instalaciones*/


#contacto {
    font-size: 25px;
    margin-left: 85%;
}
.navegador {
    background-color:rgb(241, 198, 225); 
    display: none;
}


@media (max-width:320px){}
    



    
     

@media (max-width:768px){}
    
